html, body { height: 100%; padding: 0; margin: 20px; }
.boxdiv { width: 45%; height: 45%; float: left; padding: 10px;}
#div1 { background: #eee; margin: 2px; }
#div2 { background: #eed; margin: 2px; }
#div3 { background: #eef; margin: 2px; }
#div4 { background: #ccc; margin: 2px; }
