html, body { 
	padding: 10px; 
	margin: 5px; 
	/*background: #000;*/
}
p, h1, h2, h3, h4, h5 {color: #111;}

a {
	text-decoration:none;
	color:black;
}

a:hover {
	text-decoration:none;
	color:gray;
}

.fa {
	font-size: 1.6em;
}

.footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
	z-index: 100;    
    background-color: rgb(240, 240, 240, 0.6);
    height: 150px;
    padding: 20px;
}
.lengendItems{
	list-style-type: none;
	display: inline;
	margin-right: 25px;
	padding-right: 20px;
	font-size: 1.5em;
	border-right: 2px black solid;
}

#vidframe { 
	width: 100%; 
	height: 100%; 
    border: 1px solid black; 
    position:relative; 
}

#space-title {
	
	font-family: 'Open Sans', sans-serif;	
}
#space-title h1,p {
	margin:25px;
	float: left;
	width: 100%;
	
}

#space-title h1 {
	font-weight: bold;
	
	letter-spacing: 1px;
	float: left;
	
	
}

#titlename {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 1.5em;
	float: left;
	
}

#username {
	font-family: 'Open Sans', sans-serif;
	color:rgba(150,150,150,1.00);
	font-size: 1em;
	float: left;
	margin-top: 17px;
	
}

#space-title .slogan {
	font-size: 1.1em;
	margin-bottom: 50px;
	display: block;
	color:white;
	
	
}

h1 {
	margin-top: -20px;
}

.studentName {
	font-size: 130%;
}
/*.spaceName {
	margin-top: 0px;
}*/

/*.boxdiv { height: 400px; margin: 15px; padding: 10px; overflow: scroll;}*/
.boxdiv{
	max-width: 22%;
	min-height: 215px; 
	margin: 10px; 
	padding: 15px; 
	/*overflow: scroll;*/
	border-radius: 10px;
}

#div1:nth-of-type(odd) { 
	background: #6f79a8;
	font-family: 'Open Sans', sans-serif;
	/*min-width: 45%;*/
}
#div1:nth-of-type(even) { 
	background: #836fa9	;
	font-family: 'Open Sans', sans-serif;
	/*min-width: 45%;*/
}

#div2 { background: #836fa9;  
	font-family: 'Open Sans', sans-serif;
}
#div3 { 
	background: #ff8400;  
	font-family: 'Open Sans', sans-serif;
	/*min-width: 45%;*/
}
#div4 { 
	background: #333; 
	/*overflow: hidden; */
	font-family: 'Open Sans', sans-serif;
	position:relative;
}



.panel  {
	margin-bottom: 0px;
}

.panel-heading {
	text-align: center;
    font-weight: bold;
}

#div1:nth-of-type(odd) .panel-heading {
	background-color: #9fa8da; 
}

#div1:nth-of-type(even) .panel-heading {
	background-color: #b39ddb; 
}


/*90, 33, 120
5A2178

ff8400*/

video {
    width: 100%;
    max-width: 500px;
}

#myVideo {
	width: 40%;
    max-width: 200px;	
}

.row-offcanvas {
position: relative;
-webkit-transition: all .25s ease-out;
     -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
}

.row-offcanvas-right {
	margin-left: 10px;
	margin-right: 10px;
	right: 0;
}

.alert-floater {
	width: 100%;
	z-index: 1000;
	position: absolute;
	top: 35%;
    /* left: 20%; */
	background-color: rgb(240, 240, 240, 0.6);
	text-align: center;
}

/* alert stylizing */
.alert-warning {
	width: 200px;
	display: inline-block;
	margin: 30px;
	/*position: absolute;
    top: 50%;
    left: 40%;*/
	/*z-index: 1000;*/
	color: #424242;
    background-color: #fff1ff;
	border-color: #af8eb5;
	text-align: center;
}

.helpIcon {
	color: purple;
	font-size: 6em;
	display: flex;
	justify-content: center;
}